[2015-04-17 23:40] notwaldorf opened #2 "The colours in the demo should use custom properties when ready"
When https://github.com/Polymer/polymer/issues/1415 is fixed, the hardcoded colours in `demo.html` can be replaced with `var(--...)` values from `paper-styles/default-theme.html`

[2015-05-07 17:23] lpalmaro opened #8 "paper-drawer-panel accessibility report"
Here are the accessibility developer tools audit results:

[Warning] Text elements should have a reasonable contrast ratio (1)Not applicable tests (12)Passing tests (4)

IMO, the general contrast is sufficient. It may help to make the text on the button more bold though. 

There is something interesting that happens on the demo page when zooming in. If I press command + on my Mac to zoom in on the

[2015-05-07 18:03] frankiefu opened #10 "Dragging on drawer stops working"
It was working couple days ago.  Could be related to changes in gestures.

cc @azakus if he can take a look as well.

[2015-05-08 23:58] frankiefu opened #12 "Clicking on paper-icon-button[paper-drawer-toggle] doesn't open the drawer"
If you adjust the demo to use `<paper-icon-button>` instead of `<button>`, the drawer doesn't slide out when you click the icon button.

[code]

cc @robdodson

[2015-05-09 00:07] dfreedm commented on #10
Should be fixed with #11

[2015-05-09 00:07] #10 closed, assigned to notwaldorf

[2015-05-09 03:03] matheusdavidson opened #14 "Uncaught TypeError: Cannot set property 'touchAction' of undefined"
While testing the component demo with polymer 0.9 i've got this message on the console.
Error is in gesture.html, line 222:
`node.style.touchAction = value;`

[2015-05-09 07:41] anishcodes opened #15 "paper-drawer-panel demo is not working as expected."
# Environment:

Chrome Version 42.0.2311.135 (64-bit) on mac.

bower.json dependencies:
  "dependencies": {
    "polymer": "polymer/polymer#v0.9.0-rc.1",
    "paper-drawer-panel": "PolymerElements/paper-drawer-panel#^0.9.2"
  }
# Issue:

The toggle button (<button paper-drawer-toggle>toggle drawer</button>) does not appear and also the drawer does not hide when browser's width is reduced.
# Error:

[2015-05-09 14:12] chuckh commented on #14
I got the same error too. The demo will still loaded ok for me. But my app using paper-drawer-panel stopped loading using 0.9.2. I rolled back to 0.9.1 everything worked ok. This is the error for 0.9.2:

[code]

[2015-05-09 15:08] addyosmani commented on #14
Confirmed. cc @notwaldorf

[2015-05-09 15:59] notwaldorf commented on #14
Passing the hot potato to @azakus, who's been working on gestures. :)

[2015-05-11 17:10] dfreedm commented on #14
Whoops, I changed the `setScrollDirection` API in the polymer master branch, but it is not represented in an RC yet.

[2015-05-11 17:18] addyosmani commented on #14
To work around this for now, should we locally lock in to a specific commit from the polymer master branch or is another RC imminent?

[2015-05-11 17:25] dfreedm commented on #14
That should be decided very soon. I'll make the update either way after that decision is made.

[2015-05-11 17:35] addyosmani commented on #14
Awesome. Thanks @azakus :)

[2015-05-11 18:31] #12 closed, assigned to notwaldorf

[2015-05-11 22:27] matheusdavidson commented on #15
i think its the same issue i had(see https://github.com/PolymerElements/paper-drawer-panel/issues/14)
For now the option is to use paper-drawer-panel 0.9.1 version, update your bower to :
`"paper-drawer-panel": "PolymerElements/paper-drawer-panel#0.9.1"`

[2015-05-11 22:34] matheusdavidson opened #17 "forceNarrow not hiding the drawer"
i have a narrow layout type so im using forceNarrow to hide the drawer on larger screen(will show later only on mobile devices by clicking some button).

The drawer will not close with this:
`<paper-drawer-panel forceNarrow narrow id="paperDrawerPanel">`

[2015-05-12 01:00] matheusdavidson commented on #17
its not hiding because the correct attribute is force-narrow instead of forceNarrow

[2015-05-12 01:00] #17 closed, assigned to nobody

[2015-05-12 07:49] BramKleinhout opened #18 "Changing forceNarrow from true to false is forcing the drawer to display even in mobile view"
While changing the forceNarrow attribute from 'true' to 'false' the drawer is forced to display, without checking if the drawer should be displayed at current document width. If the document width is smaller then the responsiveWidth, the drawer should not automatically being displayed.

[code]

Setting forceNarrow to 'false' _responsiveChange is called passing 'false'

[code]

 The default display

[2015-05-12 22:47] lpalmaro opened #19 "paper-drawer-panel focus state issue"
The focus state is too light, especially on top of the colored background. I have to strain pretty hard to tell when the button is in focus or not.

[2015-05-13 03:55] michaelpg commented on #12
could this be merged into 0.8? I think it's causing a similar issue.

I have a `<paper-menu>` (0.8.3) inside the drawer of a `<paper-drawer-panel>`.

In iron-selectable's _itemActivate function, it fires an `iron-activate` event. Normally the event is not caught and `this.select(value)` is called to select the item.

In my case, the paper-drawer-panel is catching the `iron-activate` event with its

[2015-05-13 04:47] mbleigh commented on #14
FYI if you're following along and it's still before Polymer `0.9.0-rc.2` or whatever the next release is, you can get around this by locking Polymer down to the `0.8-preview` branch which includes gestures now.

[2015-05-13 16:52] kevashcraft opened #20 "Drag & Drop Broken"
Elements are not draggable inside the drawer-panel's content area.

<div draggable="true>drag me</div>

Adding the draggable attribute causes the element's text to not be selectable, but does not fire any of the ondrag\* events nor allow the element to be grabbed visually.

[2015-05-19 00:18] tjsavage opened #23 "material design spec audit - few changes needed"
- the drawer should have a 1px stroke on the outside of it, visually the same as the divider: http://www.google.com/design/spec/components/dividers.html

[2015-05-19 05:33] blasten commented on #20
Do you have a drag & drop kind of thing?

[2015-05-19 05:36] blasten commented on #23
The current drawer has a 1px side border, but its color is a very light gray `#ccc`. Maybe that's why it's hard to see? I think we should expose the color as a custom variable.

[2015-05-20 02:18] #23 closed, assigned to blasten

[2015-05-22 17:32] tjsavage opened #25 "Offsetting core drawer panel"
I would like to know if we can offset the core drawer panel when the toggle button is clicked so that the drawer scrolls after the toggle button but still the toggle button should be active to be clicked on again to hide the drawer panel.
Also is it possible to make the core drawer panel scroll from bottom, say an options bar that when toggled will scroll up from bottom.

Thanks

[2015-05-23 00:29] frankiefu opened #26 "forceNarrow's observer is setup incorrectly"
There is an observer for the property `forceNarrow`:

[code]

but `forceNarrowChanged` also relies on the property `defaultSelected` and there is no guarantee that you get all the configured values before observers run.  So it is better to make sure the observer declare all the dependent properties.

A possible fix:

[code]

[2015-05-23 13:29] #15 closed, assigned to nobody

[2015-05-23 21:46] Inrego opened #27 "Cannot scroll content"
The readme states that using a paper-header-panel or css overflow property will allow scrolling, but that doesn't seem to work.

I'm using a paper-header-panel, and when that didn't work, I tried to copy the example from the readme, and add a lot of text to the content area - still no scrolling.

I also tried adding an overflow: scroll css attribute to the paper-header-panel and to the content div

[2015-05-24 00:07] yo3jones commented on #27
I'm having the same issue, here is my test app which is not scrolling.

[code]

[2015-05-24 06:37] blasten commented on #27
Are you using `0.9.4`?

[2015-05-24 09:45] Inrego commented on #27
Yes I am

[2015-05-24 14:28] yo3jones commented on #27
I was able to get around the issue by setting both the paper-header-panel and it's content element as fit.

[code]

[2015-05-25 00:08] blasten commented on #27
Can you try installing `bower install paper-header-panel#io-polish`, then this should just work:

[code]

Or

[code]

[2015-05-25 00:14] yo3jones commented on #27
@blasten that did the trick, works perfect now.  Thanks!

[2015-05-25 17:55] blasten commented on #27
great!

[2015-05-25 17:55] #27 closed, assigned to blasten

[2015-05-26 05:04] blasten commented on #20
Can you provide a example to replicate the issue?

[2015-05-26 05:15] harsimranmaan opened #28 "edgeSwipeOverlay blocks menu toggle button on mobile"
[code]

When rendering the drawer panel on a mobile device(Nexus 5) the edgeSwipeOverlay overlaps the toggle menu button in in the main drawer as well parts of elements in the main panel(near left edge). As a workaround I added left margin to all elements in the main panel.

[2015-05-26 06:01] blasten commented on #8
@lpalmaro you see the toggle button because the `clientWidth` decreases when you zoomed in. That action (command +) will trigger the narrow mode once the threshold is reached.

[2015-05-26 06:57] #2 closed, assigned to nobody

[2015-05-26 13:52] kevashcraft commented on #20
The issue appears to be resolved with newer versions :)

[2015-05-26 13:52] #20 closed, assigned to nobody

[2015-05-26 14:22] lpalmaro commented on #8
SG in regards to the appearance of the button.

Please make sure it's possible to untoggle with the keyboard though.

[2015-05-26 17:48] blasten commented on #26
Fixed now!

[2015-05-26 17:48] #26 closed, assigned to blasten

[2015-05-26 17:49] blasten commented on #19
This is fixed now!

[2015-05-26 17:49] #19 closed, assigned to nobody

[2015-05-26 17:55] blasten commented on #8
If you focus the toggle button (from a tab keypress) and press enter, you can toggle the drawer. I will close this issue as we addressed all the feedback, but feel free to open it again if there's something missed.

[2015-05-26 17:55] #8 closed, assigned to nobody

[2015-05-26 17:56] #14 closed, assigned to nobody

[2015-05-26 22:28] Inrego commented on #27
Just tested again, and the issue is still there. I noticed you merged the io-polish branch into master, so I'm just trying with a fresh install of all the paper modules used. I copy pasted your example (https://github.com/PolymerElements/paper-drawer-panel/issues/27#issuecomment-105080678), and replaced the foo divs with a long lorem ipsum text - and still no scrolling.

Indeed, the "hack" posted

[2015-05-26 22:46] lpalmaro commented on #8
Contrast and keyboard navigation are great now. That said, it's still really tough to see focus state on these buttons. Is there anything we can do to improve this? I can't see the focus state at all.

[2015-05-26 23:04] blasten commented on #27
@Inrego I tried and it's working fine.  Make sure your `body` has `padding:0`.  Can you check that?

[2015-05-27 15:44] s850042002 opened #31 "drawerWidth is not applied"
Try to adapt the drawerWidth, but it's not working. Below is the modified demo page.

[code]

[2015-05-27 16:01] s850042002 commented on #31
Same issue as #17 , `drawer-width` should be good. but the code in `paper-drawer-panel.html` is still

[code]

can someone tell me why?

[2015-05-27 16:03] frankiefu commented on #31
camel-case properties of elements using attributes, dash- case should be used in the attribute name.
https://www.polymer-project.org/0.9/docs/devguide/properties.html#attribute-deserialization
So it should be:

[code]

[2015-05-27 16:05] s850042002 commented on #31
Thanks a lot :)

[2015-05-27 17:06] #31 closed, assigned to nobody

[2015-05-27 19:47] blasten commented on #25
@VigneshVaidyanathan  we have plans to support this in the future. For know, you could add a hide button to the drawer.

[2015-05-27 21:37] blasten commented on #28
What version are you using?  We have removed `edgeSwipeOverlay`, but I noticed that we haven't tagged it yet.  Meanwhile, you can download the latest paper-drawer-panel from master https://github.com/PolymerElements/paper-drawer-panel/archive/master.zip

[2015-05-27 21:37] #28 closed, assigned to nobody

[2015-05-27 23:01] Inrego commented on #27
@blasten that did not change anything. In my sample page, I have only the html you posted before. No extra stylesheets or anything. How do I verify that I do, in fact have the "fixed" version?

[2015-05-27 23:03] blasten commented on #27
The best way is to provide an example on http://jsbin.com/

[2015-05-27 23:50] #18 closed, assigned to blasten

[2015-05-27 23:51] blasten commented on #18
This has been fixed in master.

[2015-05-28 08:14] blasten opened #38 "needs a test suite"

[2015-05-29 20:15] aravind901 opened #39 "Unable to style paper-drawer-panel in Polymer 1.0 using Custom CSS Mixins"
I am trying to style the paper-drawer-panel using the Custom CSS Mixins as mentioned in the docs. The paper-drawer-panel.css file applies

@apply(--paper-drawer-panel-left-drawer-container);
@apply(--paper-drawer-panel-main-container);
respectively for the drawer and the main containers. But, the styles set using the mixins do not seem to be working.

The below is the code for paper-drawer-panel d

[2015-05-30 03:32] aravind901 commented on #39
"custom-style" is required, I see.

[2015-05-30 03:32] #39 closed, assigned to nobody

[2015-05-30 08:08] ruifung opened #40 "selected property does not update observers."
Because it doesn't have notify: true set.

[2015-05-30 22:12] tdesc opened #42 "toggle works not stable on iOS"
Primitive. Tap on button opens drawer once. Multiple clicks after have no effect, long tap on button and then it opens once again. Also can pull it out by gesture.

[code]

XCode log: Uncaught Error: Script error.:0:

[2015-05-30 22:32] tdesc commented on #42
Seems to be old version of webcomponents. Not an issue.

[2015-05-30 22:32] #42 closed, assigned to nobody

[2015-05-31 10:22] tdesc opened #43 "responsiveWidth change not works"
Changing responsiveWidth="800px", _computeMediaQuery log still 640px

[2015-05-31 13:18] Sopamo commented on #43
This does work, when you use responsive-width instead of responsiveWidth on the <paper-drawer-panel>. Should be changed or noted in the documentation somewhere.

[2015-05-31 14:37] felislynx-silae opened #44 "bug in documentation"
In documentation attribute forceNarrow should be changed to force-narrow. I've lost few hours on resolving this :)

[2015-05-31 16:38] SuperiorJT commented on #44
Same here, I think all of the attributes have been changed to that format now. I thought I was going to have to write my own element just to start the drawer closed!

[2015-06-01 01:06] s850042002 commented on #44
I asked the same question in #31, frankiefu gave the answer, [attribute-deserialization](https://www.polymer-project.org/1.0/docs/devguide/properties.html#attribute-deserialization).

[2015-06-01 11:45] tdesc commented on #43
Correct, responsive-width do work. Thanks

[2015-06-01 11:51] tdesc opened #47 "menu button paper-drawer-toggle bug with opened drawer in narrow mode"
menu button paper-drawer-toggle acts when click on opened drawer panel
It is not visible under drawer, but takes action.
bug appears without anything on drawer and also with some content over it.

[code]

[2015-06-01 13:51] SuperiorJT commented on #44
Maybe they should consider mentioning this in the [Usage Guide](https://elements.polymer-project.org/guides/using-elements) so that people aren't confused about this in the future.

[2015-06-02 14:17] nhnb opened #48 "Menu wrongly shows up on Firefox (Desktop/Mobile) if mouse/finger is moved to the right"
On Chrome the menu panel only shows up, if the menu button is pressed, or the mouse/finger is dragged from the left corner a little to the right.

On Firefox, however, the screen will turn grey on any movement anywhere of the main panel. If the move ends a little right of the starting point, the menu will show up. The touch-movement indicated in red on the screenshot should not open the menu.

Thi

[2015-06-02 18:18] #40 closed, assigned to nobody

[2015-06-02 18:22] blasten commented on #44
@SuperiorJT that's a good point.

[2015-06-05 00:32] blasten commented on #44
/cc @arthurevans

[2015-06-07 13:45] jenishngl commented on #48
Me too have this issue in Firefox on my desktop running windows 8.1(my current version is 38.0.5) and on my Android Phone. It works fine in IE and chrome.

[2015-06-07 20:54] SuperiorJT opened #49 "iPhone loading issues"
Running a drawer on iPhone Chrome and Safari takes an unreasonably long time to load the element along. Along with this, the drawer is shown during this load period even with force-narrow set to true. I have only tested this with an iPhone 5 on iOS 8.3. If anybody needs an example, my website is currently running it at [jlmiller.guru](http://www.jlmiller.guru).

[2015-06-07 21:01] SuperiorJT commented on #49
Actually, this seems to be happening on some other machines, not just iPhone. My macbook air, however, runs it just fine; along with my Galaxy S4 on 4.4.2.

[2015-06-07 22:43] MGRProgramming commented on #44
same for "disableSwipe" - now "disable-swipe" and most likely other properties.
Please update documentation - Thanks!

[2015-06-09 17:37] ghost opened #50 "Selecting content inside the component"
Any content that is child from paper-drawer-panel can't be properly selected - just one character can be selected by click and drag whereas double-click: selects everything around or a word as usual.

Demo: https://peduxe.herokuapp.com/paper-drawer-panel.html

Browser: Chrome 43.0.2357.81 (64-bit) Linux

[2015-06-09 19:34] frankiefu opened #51 "Ripples are almost invisible if they are put inside the drawer-panel"
If you put `paper-checkbox` or `paper-radio-button` inside the `paper-drawer-panel` you will notice if you tap on them the ripple is very light, almost invisible.

[code]

[2015-06-10 00:28] blasten commented on #44
@arthurevans is this clear in the docs?

[2015-06-10 00:36] arthurevans commented on #44
Agree with @SuperiorJT & I've opened a issue to track this -- https://github.com/Polymer/polymer-element-catalog/issues/90

[2015-06-10 00:38] blasten commented on #44
thanks @arthurevans !

[2015-06-10 00:48] #43 closed, assigned to nobody

[2015-06-10 00:53] blasten commented on #50
It's confirmed. @azakus is this the expected behavior?  The `track` event is canceling the selection because `paper-drawer-panel` has a global listener.

[2015-06-10 09:37] pshihn commented on #27
Even the example provided at the end of on https://elements.polymer-project.org/elements/paper-drawer-panel (the div with "main content" does not scroll) (the third example)

Using:
paper-elements#~1.0.1
chromer version: Version 43.0.2357.81 (64-bit)

[2015-06-10 09:39] pshihn opened #54 "Can't get content to scroll in the main panel"
The example provided at the end of on https://elements.polymer-project.org/elements/paper-drawer-panel (the div with "main content" does not scroll) (the third example)

Using:
paper-elements#~1.0.1
chromer version: Version 43.0.2357.81 (64-bit)

[code]

[2015-06-10 10:00] pshihn opened #55 "Menu Button in compact mode is laid on top of the drawer (wrong z-index?)"
The menu button in the following code (in narrow mode) shows up on top of the drawer header, when drawer is open. It does not happen if the menu button is not inside paper-toolbar but in a div.
(Seen on chrome: Version 43.0.2357.8)

[code]

[2015-06-10 17:51] frankiefu opened #56 "Can drag out the drawer from anywhere on the screen instead of just from the edge"
This happens only on Firefox.  Run the paper-drawer-panel's demo and resize the browser so the drawer is hidden.  Now if you drag in the middle of the screen you can see the drawer is sliding out.  Dragging out the drawer should only happen if you drag from the edge.

[2015-06-10 19:06] blasten commented on #55
The issue is confirmed.

[2015-06-10 19:25] blasten commented on #54
@pshihn This seems to be working fine unless you didn't import `paper-header-panel`
Can you check if you that?

[code]

[2015-06-10 19:28] pshihn commented on #54
_facepalm_
Seems like I lost the import when I moved from 0.5 to 1.0

Thanks

[2015-06-10 19:30] blasten commented on #49
@SuperiorJT You should add the attribute `unresolved` to the `body` element. For example:

[code]

[2015-06-10 19:30] #49 closed, assigned to nobody

[2015-06-10 19:31] blasten commented on #54
Great!

[2015-06-10 19:31] #54 closed, assigned to nobody

[2015-06-10 19:34] blasten commented on #47
this is also related to https://github.com/PolymerElements/paper-drawer-panel/issues/55

[2015-06-10 19:36] #44 closed, assigned to arthurevans

[2015-06-10 19:38] blasten commented on #48
This is related to https://github.com/PolymerElements/paper-drawer-panel/issues/56

[2015-06-10 20:02] frankiefu commented on #50
Also if you put the content on the drawer and if you try to select the text, that will make the drawer to move.  We need a way to do text selection without making the drawer to move.

[2015-06-10 21:08] #56 closed, assigned to blasten

[2015-06-10 21:12] blasten commented on #56
fixed now.

[2015-06-10 21:12] blasten commented on #48
It's fixed now in master.

[2015-06-10 21:12] #48 closed, assigned to nobody

[2015-06-11 16:32] sevcsik opened #58 "Drawer width is not flexible"
According to the [spec](http://www.google.com/design/spec/patterns/navigation-drawer.html#navigation-drawer-specs), the drawer panel width should be 100% minus the height of the action bar (56px), or 280px on mobile, and 320px on tablet.

Currently this needs to be worked around outside the element, because it only supports a fixed number via the `drawerWidth` property.

I came up with a simple CS

[2015-06-12 00:26] blasten opened #59 "Elements inside a drawer are focusable even if the drawer is closed"
When you have a **right drawer**  and it's closed, the user can still set the focus to an element inside the drawer. This is causing the drawer to appear in the viewport even though it's "closed".

While debugging, this issue seems to be caused by a browser behavior; an  element's is focusable and the browser will calll `scrollIntoView`  if client rect `left` or `top` values is greater than the ne

[2015-06-12 03:55] namiwang opened #60 "paper-drawer-toggle attribute wont work if nested in another custom-element"
Say I've got a construct like this:

[code]

And that `<another-custom-element>` includes a `<paper-icon paper-drawer-toggle>`

Then it wont toggle the drawer automatically.

[2015-06-12 18:13] blasten commented on #60
@nanowang  that's because `<paper-icon paper-drawer-toggle>` is in the shadow dom of `<another-custom-element>`

You should use:

[code]

and have a `<content select="[paper-drawer-toggle]"></content>` in the shadow dom of `another-custom-element`

[2015-06-12 18:22] blasten commented on #58
@sevcsik that's right. `paper-drawer-panel` only has a single & fixed `drawerWidth` property. There're plans to improve it, so the drawer's width can follow the spec for mobile.

[2015-06-12 18:25] #60 closed, assigned to nobody

[2015-06-12 18:46] blasten commented on #55
@pshihn This is fixed now in `paper-toolbar`. Can you update it via `bower update` ?

[2015-06-12 18:46] #55 closed, assigned to nobody

[2015-06-12 18:47] blasten commented on #47
@tdesc This is fixed now in `paper-toolbar`. Can you update it via `bower update` ?

[2015-06-12 18:47] #47 closed, assigned to nobody

[2015-06-12 19:59] tdesc commented on #47
Thanks!

2015-06-12 21:47 GMT+03:00 Emmanuel Garcia notifications@github.com:

[2015-06-13 00:39] dsaronin opened #61 "drawer-panel toggle element does not hide in wide layout"
The drawer-panel (v1.0.1) documentation states:
  "An element that should toggle the drawer will automatically do so if it's given the paper-drawer-toggle attribute. Also this element will automatically be hidden in wide layout."

However, this behavior is not observed in both desktop and mobile. The toggle icon remains visible despite wide or narrow layouts.

here is the basic app layout with two

[2015-06-13 12:12] senfgurke opened #62 "does not work in iron/neon pages"
Hi,

I like polymer... but I found an error, I think. I'm building on a desktop app with nw.js and using polymer 1.0.3  as UI-System...

Szenario:
- Landing/ Welcome - Page
- my app-element with paper-drawer-panel
- both are in neon-animated-pages in a neon-animatable element, but the app-element doesn't show anything --> i tried the same with iron-pages

when I use the app-element as main element

[2015-06-14 02:13] TheDuc opened #63 "paper-select event does not fire"
From the source:

I'm listening for the paper-select event, but it never fires. The paper-responsive-change works just fine. With developer tools I can see that the selected attribute does change, but the event never occurs.

[2015-06-15 05:22] schlosser opened #64 "paper-responsive-change event name cut off in documentation"
In the [documentation page for `paper-drawer-panel`](https://elements.polymer-project.org/elements/paper-drawer-panel), the name of the `paper-responsive-change` event title is cut off, and appears to be `paper-responsive-`.

I believe this is because the description of the event does not flow onto multiple lines.  Note the top of the "h" is peaking out from the next line.

![screen shot 2015-06-1

[2015-06-15 12:29] seahrh opened #66 "does not render properly in Firefox, IE"
The example code in the docs does not render properly in FF38 and IE11.

[code]

In FF, drawer seems to be truncated. `paper-drawer-toggle` doesn't work.

![paper-drawer-panel-ff](https://cloud.githubusercontent.com/assets/4428622/8159766/8c9f8882-139c-11e5-86b9-29ec4fe03e9a.JPG)

IE's worse:

![paper-drawer-panel-ie](https://cloud.githubusercontent.com/assets/4428622/8159777/990e1430-139c-11e5-8e

[2015-06-15 16:50] blasten commented on #64
This issue has been moved to: https://github.com/Polymer/polymer-element-catalog/issues/127

[2015-06-15 16:50] #64 closed, assigned to nobody

[2015-06-15 17:31] blasten commented on #63
@TheDuc It should be `iron-select` and `iron-deselect`, and you can access `event.detail.item`.  The docs should be fixed soon, thanks for reporting the issue.

[2015-06-15 19:01] TheDuc commented on #63
Thanks! `iron-select` does work.

[2015-06-15 19:01] #63 closed, assigned to nobody

[2015-06-16 07:24] AndreasGalster commented on #17
https://elements.polymer-project.org/elements/paper-drawer-panel The docs say it's forceNarrow.

[2015-06-16 07:27] notwaldorf commented on #17
The property is indeed `forceNarrow`, but when used as an html attribute, it needs to be specified as `force-narrow` (see: https://www.polymer-project.org/1.0/docs/devguide/properties.html#property-name-mapping)

[2015-06-17 00:24] blasten commented on #66
@seahrh I couldn't replicate the issue.

If you take that markup along with the imports:

[code]

 and you put it in `demo/demo.html`, you should see it working. If you still have issues, can you provide a link that replicates the issue?

[2015-06-17 04:21] seahrh commented on #66
OK I took the example code and put it in [demo.html](https://gist.github.com/seahrh/8effb305bde5247d4a4c), it works.

However, after vulcanizing the same file, I get the errors shown in the OP.

My vulcanize task:

[code]

Inline scripts or not, I see the same errors.

On gulp-vulcanize@6.0.1, vulcanize@1.9.1

My work can't be deployed to production if `paper-drawer-panel` only works _un-vulcanize

[2015-06-17 13:36] shenzhuxi opened #69 "Link with anchor target to the iframe"
I have links in paper-header-panel drawer with anchor target to an iframe in paper-header-panel main.
The whole panel will be scrolled with the iframe, when a link is clicked.
It only happened in webkit browsers but not Firefox.

[2015-06-17 16:35] ypicoleal opened #70 "Error when i put a paper-input inside a paper-drawer-panel"
_From @ypicoleal on June 16, 2015 23:7_

Hi partners!

when it loads the page, the paper-drawer-panel aligned to the right, i should be collapsed, but instead it charges full loaded.

when i call the togglePanel function it bumps and then it midly works.

this only happens when there is a paper-input inside a paper-drawer-panel

[code]

Please, hope you can help me with this

_Copied from original

[2015-06-17 16:35] ypicoleal commented on #70
_From @sorvell on June 17, 2015 15:1_

This issue tracker is for the Polymer core library. We'll make sure this gets moved to the appropriate repo.

[2015-06-17 17:25] dfreedm commented on #66
@seahrh Are you on Windows? There's probably a path bug in vulcanize on Windows right now: https://github.com/Polymer/vulcanize/issues/202

[2015-06-17 18:02] #59 closed, assigned to nobody

[2015-06-17 18:38] blasten commented on #70
@ypicoleal I don't see the issue. If the device width is smaller than 1980px, then the drawer will collapse automatically.  You can also use `forceNarrow` to force the narrow mode regardless of the device width.

e.g.

[code]

[2015-06-17 19:30] blasten commented on #69
@shenzhuxi can you provide a link?  I tried the following and it works as expected:

[code]

[2015-06-17 21:05] ypicoleal commented on #70
Hi @blasten, the error keep happening  regardless of the <code>forceNarrow</code> property, also in the Google Chrome browser does not work, but in the Mozilla Firefox browser everything works just fine and easy.

For instance, and in a last shot to make it work on Chrome, in the javaScript Console, when i call the function <code>togglePanel</code>, suddenly everything is ok and smell like roses,

[2015-06-17 21:07] blasten commented on #61
@dsaronin issues:
1. You should use layout classes  e.g.`<body  class="fullbleed layout vertical" unresolved>`
2. Use `drawer-width` instead of  `drawerWidth` e.g.  `<paper-drawer-panel drawer-width="200px" id="coreDrawerPanel">`
3.  Replace your `'` (single quote)  with `"` (double quote)
4. Remove the script at the bottom as that issue was fixed.

Don't use camel case for the attributes' name in

[2015-06-17 21:37] blasten commented on #70
@ypicoleal  can you share a link? Did you use vulcanize?

[2015-06-17 23:13] #50 closed, assigned to dfreedm

[2015-06-18 00:04] blasten commented on #62
@senfgurke I tested the following in `neon-animation/demo/declarative/index.html`but I couldn't replicate the issue. Please provide a link or something to simulate the issue.

[code]

[code]

[2015-06-18 06:43] dsaronin commented on #61
Thank you; I made the changes suggested in 1, 2, and 4. 3: the html is auto-generated from haml (ruby on rails). I've glanced over the '/" usage and don't see any glaring problems unless there's a specific that you have.

BUT: still the drawer-panel toggle element does not hide in wide layout; it remains.

[2015-06-18 08:01] senfgurke commented on #62
@blasten You're right... I found the problem. It's necessary that the parent element has not a height of 0px, then the drawer panel is visible....  my fault, sorry.

:host {
        position: absolute;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
      }

It works like a charm...

[2015-06-18 08:01] #62 closed, assigned to blasten

[2015-06-18 09:06] seahrh commented on #66
Yes I'm using Win7. Let me try out the fix for Polymer/vulcanize#202 and report back.

[2015-06-18 09:35] shenzhuxi commented on #69
It's very weird.
I copied https://en.wikipedia.org/wiki/Catholic_Church to my web server and changed the link.

[code]

On Chrome with "position: absolute;", this problem only happens with links with the same domain name as the parent page. Did you tried on Chrome too?
On Safari with "position: absolute;", both links have the whole panel shift problem.

[2015-06-18 10:52] seahrh commented on #66
Updated to vulcanize 1.9.3 and **not** using abspath. Same problem persists.
I'm using other PolymerElements such as `paper-fab` and `paper-input` and they show up fine on the vulcanized page.

[2015-06-18 18:26] #51 closed, assigned to blasten

[2015-06-18 19:04] blasten commented on #69
@shenzhuxi this might happen if the height of the iframe is greater than the height of the main container.

When you specify an anchor  such as `#Western_rites` in the URL, the browser will try to scroll to the element that has that anchor.

If you have nested scrollable containers, you might hit this issue. e.g. if the iframe, main, and body are scrollable.
In the example I provided, I used the `

[2015-06-18 19:45] blasten opened #71 "drawerToggleAttribute"
if you customize this property, it won't hide the toggle element in narrow layout.

[2015-06-18 20:14] blasten commented on #66
ping @azakus

[2015-06-18 21:44] blasten commented on #70
Here is an example http://output.jsbin.com/zaxane

[2015-06-18 23:39] frankiefu commented on #51
@blasten can we tag it for release? So catalog can pick it up.

[2015-06-19 00:22] blasten commented on #61
Here's an example: http://output.jsbin.com/buzaha

[2015-06-19 00:22] blasten commented on #61
@dsaronin Here's an example: http://output.jsbin.com/buzaha

[2015-06-19 14:22] shenzhuxi commented on #69
Solved the problem with class="fit" and

[code]

Thanks.

[2015-06-19 15:30] blasten commented on #69
Awesome!

[2015-06-19 15:30] #69 closed, assigned to nobody

[2015-06-19 18:58] dfreedm commented on #66
This issue was moved to Polymer/vulcanize#209

[2015-06-19 18:58] #66 closed, assigned to blasten

[2015-06-22 01:29] wq9 opened #73 "Too easy to accidentally close the drawer when scrolling on mobile"
When the drawer contains a tall list and the user wants to scroll that list, it is way too easy to accidentally close the drawer because the finger will drag diagonally and a very little horizontal movement will close the drawer.

In the Inbox app, you have to drag left past 50% width to make the drawer close, similar for opening the drawer. Also, in the Inbox app, when you start scrolling the dra

[2015-06-22 01:35] LukePulverenti commented on #73
I've seen this as well. It's a little too sensitive with diagonal movements. Ideally it should perform identically as the native version. I too have been using Google Inbox as a reference app to compare with.

[2015-06-22 16:41] blasten commented on #51
@frankiefu yes!

[2015-06-22 16:51] blasten commented on #73
@wq9 did you try to customize the property `edgeSwipeSensitivity`?   Its default value is `30`

[2015-06-22 17:00] LukePulverenti commented on #73
I don't think you want to raise edgeSwipeSensitivity too much because then it becomes difficult to open the drawer with a thumb swipe. This is really about swipe behavior when the drawer is already open.

For testing purposes, I made a quick change to _trackEnd:

[code]

This introduces a delta threshold that must be crossed before the drawer will be closed. More testing is needed to determine if

[2015-06-22 17:36] frankiefu commented on #73
I think this is an issue in the polymer gesture.  Ideally the gesture system would not fire `track` event while scrolling.

cc @azakus

[2015-06-22 19:01] kingflurkel commented on #71
Line 238

[code]

Because notify is not true...

[2015-06-22 19:25] wq9 commented on #73
@blasten I just set `edge-swipe-sensitivity` to 80 and then to 160. It only increased the area of the edge and the starting x position of the drawer. There is no swipe threshold and the drawer would open or close as soon as `event.detail.dx > 0`.

I looked more closely at the native drawer of Inbox and it seems that in addition of a 50% width threshold, they have a swipe velocity. (quick horizonta

[2015-06-22 22:07] ypicoleal commented on #70
Bro, after reviewing your code, i noticed that i had the previous version of the libraries, so i update them and every works  just fine!!

thanks mate!

[2015-06-23 02:24] #70 closed, assigned to blasten

[2015-06-23 07:38] dsaronin commented on #61
thanks for the example; it certainly does work. I'm stumped, however, as I've mimiced everything that I can see in the html source, including the imports, and alas, it does not work for me. polymer 0.5 did hide the menu icon button on wide screen. I appreciate the example and its simplicity; thank you.

[2015-06-24 07:20] nonameolsson opened #74 "Missing property value"
I try to use the paper-drawer-panel, but I can't get it to work. I just get this message.
paper-drawer-panel.css:31
`@apply(--paper-drawer-panel-drawer-container);`

Edit:
I use Ruby on Rails 4 also.

Does anyone know why I get this error?
![screenshot from 2015-06-24 09 16 47](https://cloud.githubusercontent.com/assets/1493018/8324533/cff0d238-1a51-11e5-8466-5775cba9debd.png)

[2015-06-24 17:40] blasten commented on #74
It seems like Sass is complaining about `@apply`

[2015-06-24 18:13] nonameolsson commented on #74
It could be that. Has anyone else tried it with Sass?

[2015-06-24 18:47] blasten commented on #74
@addyosmani is there a way to ignore `@apply` in a Sass file?

[2015-06-25 12:40] naoak opened #75 "Blinking issue on iOS Safari when tapping window on demo"
In the demo page, tapping window on iOS Safari results in gray-color blinking issue like this.

![img_0002](https://cloud.githubusercontent.com/assets/1264530/8354251/978b4a32-1b81-11e5-922a-88e0e86b3a2a.png)

[2015-06-25 16:10] Stefdv commented on #71
I added notify:true ...no change. The toggle element will not hide.
as a mather of fact..it looks like the drawer is transparant, everything on the main toolbar is shining tru.
the drawer has a background-color set to white.
Only when i use paper-header-panel everything works , but i don't need the header panel

[2015-06-26 22:53] blasten commented on #75
I thought we fixed this issue. cc @azakus @frankiefu do you remember this issue when you add mouse event listeners on iOS?

[2015-06-26 23:10] frankiefu commented on #75
If you add the `-webkit-tap-highlight-color: rgba(0, 0, 0, 0);` to body that should help.

[2015-06-29 01:15] naoak commented on #75
It works. Thanks:)

[2015-06-29 13:27] PaulHMason opened #76 "Support two side drawers."
A number of Android applications support a right-hand drawer as well (accessed by the kebab menu). Would it be possible to support this?

[2015-06-29 18:09] #75 closed, assigned to nobody

[2015-06-29 18:46] blasten commented on #76
@PaulHMason do you mean both drawers at the same time? You might get it working by combining two nested paper-drawer-panels.  One with `right-drawer` and the other without it.
I think it'd be awesome to have a demo with two drawers at the same time.

[2015-07-02 23:47] naberly commented on #76
Does it support a left and right drawer not at the same time? I could not get it to work.

[2015-07-03 05:25] PaulHMason commented on #76
Yes, you can have either a left or a right drawer - just not both at the same time.

[2015-07-03 14:08] Frikki opened #77 "Styling #scrim"
How is it possible to override the `#scrim` styling?

[2015-07-10 15:25] kungufli opened #78 "release version 1.0.3 don't work properly in Firefox"
The drawer panel do not work properly in Firefox (tested on Firefox 39.0), the drawer is always closed, no way to show it and the toggle button is always displayed (but don't work too).

The bug can be tested opening the demo page of the current release version (1.0.3) of paper-drawer-panel (/paper-drawer-panel/demo/index.html) on Firefox.

[2015-07-10 16:47] kungufli commented on #78
After more investigation, it seems this is Vulcanize fault here. The original demo page works correctly, but it is broken after vulcanization. The strange thing is that in Chrome the vulcanized version still works, but not in Firefox and Safari.

[2015-07-10 18:16] blasten commented on #78
@kungufli  hmm. Did you include webcomponents.js?

[2015-07-10 21:59] frankiefu commented on #77
We need to expose a custom property for scrim background-color.  @blasten Can you take a look?

[2015-07-13 09:55] kungufli commented on #78
Sure, both the original index.html demo page and the vulcanized one include the webcomponents-lite.js script import.

[2015-07-13 19:34] frankiefu commented on #78
@kungufli Did you inline the external stylesheet? For example, this should work:
`vulcanize --inline-scripts --inline-css index.html > index-vulcanize.html`

[2015-07-14 09:33] kungufli commented on #78
@frankiefu Thank you, the --inline-css option did the trick. Now I'm wondering why this option is needed for the page to work on Firefox and Safari but not in Chrome?

[2015-07-14 16:36] rhysd opened #79 "JavaScript can't scroll drawer content."
Hi.

I'm using paper-drawer-panel and I want to scroll content of drawer by `window.scrollBy()`.  But it seems that it can't scroll the page.
I checked closed issues related to scrolling in this repository, but I still can't do that.

I made an example to reproduce my problem.

[code]
1. Make a directory
2. Copy above code as `index.html`
3. Install `paper-header-panel`, `paper-drawer-panel` and `

[2015-07-14 16:50] rhysd commented on #79
Note that below also doesn't work.

[code]

[2015-07-14 22:48] frankiefu commented on #79
`paper-header-panel` has a `scroller` property that returns the scroller.  Try something like this:

[code]

[2015-07-15 00:47] rhysd commented on #79
@frankiefu

It works!!  Thank you very much for your answer.

[2015-07-15 00:47] #79 closed, assigned to nobody

[2015-07-15 15:20] #78 closed, assigned to nobody

[2015-07-15 16:42] blasten commented on #77
sure. we should do that :)

[2015-07-15 16:43] blasten commented on #76
that's right. I will keep this issue open until we have a demo :)

[2015-07-17 18:31] m4b opened #80 "on mobile, when scrolling through buttons next tap/touch/input event is lost"
## Description

I'm raising the issue here because so far, I can only reproduce this in `<paper-drawer-panel>`, but it may well originate somewhere else.

On mobile devices, when scrolling through an `<iron-list>` or `<template is="dom-repeat">` of buttons, _inside_ of a `<paper-drawer-panel>`, the subsequent touch event is "lost", in that for example, if you scroll the list, then tap on an item,

[2015-07-18 22:46] ronnyroeller commented on #80
We're facing the same issue. I agree with @m4b that this is a blocker for mobile. For users it feels like the buttons don't really work.

[2015-07-19 00:01] m4b commented on #80
I've just verified the issue is caused by this element adding a listener for `track`; when the `track: '_onTrack'` line is removed in the listeners object in `<paper-drawer-panel>` the issue goes away.

Leaving the listener in and commenting all the code in `_onTrack` does **not** remove the issue; as such, this suggests it has to do with an issue in Polymer itself, probably a flaw somewhere in th

[2015-07-19 18:23] m4b commented on #80
This will be fixed when [whichever](https://github.com/Polymer/polymer/pull/2116) [fix](https://github.com/Polymer/polymer/pull/2117) for Polymer/polymer#2065 is merged.

[2015-07-20 08:00] sandro-k commented on #76
@PaulHMason @blasten this works like is charm

[code]

Add `paper-drawer-toggle` to the buttons if you want to automatically hide them in wide layout.

[2015-07-20 17:09] blasten commented on #80
@m4b thanks for reporting the issue. I will chat with @azakus about this.

[2015-07-21 01:34] m4b commented on #80
@blasten: np, but it's basically a duplicate of Polymer/polymer#2065; when that patch goes through, I believe it'll clear up.

[2015-07-22 18:50] blasten commented on #61
good to know :)

[2015-07-22 18:50] #61 closed, assigned to blasten

[2015-07-22 18:57] blasten commented on #25
You can use a `paper-toolbar` and  add a toggle button to it:

[code]

[2015-07-22 18:57] #25 closed, assigned to blasten

[2015-07-22 19:06] blasten commented on #58
@sevcsik you could use  the `drawerWidth` properties and swap the value if the user is on the mobile or desktop.

[code]

[2015-07-22 19:06] #58 closed, assigned to blasten

[2015-07-22 19:26] sevcsik commented on #58
I managed to fix it, thank you!

On Wed, 22 Jul 2015 21:06 Emmanuel Garcia notifications@github.com wrote:

[2015-07-22 19:38] blasten commented on #80
This should be fixed in master now. https://github.com/Polymer/polymer/pull/2124

[2015-07-22 19:38] #80 closed, assigned to nobody

[2015-07-23 00:02] blasten commented on #73
This issue was moved to https://github.com/Polymer/polymer/issues/2135 and it should be fixed once https://github.com/Polymer/polymer/pull/2134 is merged.

[2015-07-23 00:02] #73 closed, assigned to dfreedm

[2015-07-23 01:30] frankiefu commented on #77
Fixed by https://github.com/PolymerElements/paper-drawer-panel/pull/81

[2015-07-23 01:30] #77 closed, assigned to blasten

[2015-07-25 15:48] nonameolsson commented on #74
Now it works!
So I created a new rails app and installed everything in order from scratch. It worked!
After that I removed everything from the other app I tried to use before. Now it works!

I have no idea, but Sass doesn't seem complain about the @apply anymore.

[2015-07-26 11:11] #74 closed, assigned to nobody

[2015-07-26 11:24] nonameolsson opened #82 "paper-drawer-panel and Turbolinks doesn't work"
I have a web app with Rails 4 and Turbolinks, https://github.com/rails/turbolinks. Now I've started to add more Polymer elements to the app. But I can't get `paper-drawer-panel` to work.
When loading the page the first time everything looks and behaves as expected. But when clicking a link the problem starts. I made a video of the problem.
https://www.youtube.com/watch?v=Zqtn9uxI1xs

It seems like

[2015-07-28 00:01] blasten commented on #82
@nonameolsson I don't see how `paper-drawer-panel` could be causing the issue. It seems like the whole page is refreshed after you clicked the link. You might want to call `preventDefault` on the click event. e.g.

[code]

[2015-07-29 19:56] robrez opened #84 "Help Please: Print Preview Failed"
Printing fails, "Print Preview Failed", if you attempt to print a page that uses a paper-drawer-panel.

[code]

You can see an example of this over at the [element catalog](https://elements.polymer-project.org/browse?package=paper-elements)

I'm not quite sure how much of this may relate to shadow/light-dom versus the paper-drawer-panel specifically. Any suggestions are be appreciated.

I've notic

[2015-07-29 22:32] robrez commented on #84
_update_

I updated polymer, the trivial code gist/snippet I gave in my previous comment no longer fails.

I've since been trying to create a small example that duplicates the issue and I haven't been able to make much sense out of things.

I do think that the "problem" isn't necessarily related specifically to paper-drawer-panel; instead, I think it has something to do w/ nesting certain elements

[2015-08-11 08:37] tigerhawkvok opened #85 "responsiveWidth doesn't work on Firefox"
For example:

[code]

Yet, no collapse.

![screenshot 61](https://cloud.githubusercontent.com/assets/165937/9193572/4b07fe3c-3fc9-11e5-90e4-a07ee6325dd6.png)

Works in Edge, Chrome (shown side-by-side). Safari on desktop hasn't been tested yet, though Safari on iOS also shows an expanded drawer.

[2015-08-11 21:16] BrknRobot opened #86 "Support material design persistent drawer behavior"
The material design spec describes a persistent drawer behavior which sits at the same level as the page content, and shrinks the main area when opened.

https://www.google.com/design/spec/patterns/navigation-drawer.html#navigation-drawer-behavior

paper-drawer-panel currently does not support this behavior, as it can not be toggled while in wide mode.

This is a feature request for this behavior.

[2015-08-14 17:09] blasten commented on #85
I couldn't replicate this issue. http://output.jsbin.com/kolehu
Can you share the code that is causing the problem?

[2015-08-14 17:28] blasten commented on #86
That's right. We are working on a new element set https://github.com/PolymerLabs/app-layout and I think we should support this behavior there. Thanks!

[2015-08-14 17:28] #86 closed, assigned to nobody

[2015-08-14 17:53] blasten commented on #84
That's correct. A combination of CSS rules or nested elements could potentially cause the preview to fail. e.g. http://stackoverflow.com/questions/23928182/chrome-print-preview-error

[2015-08-14 17:53] #84 closed, assigned to nobody

[2015-08-15 21:14] rogerta opened #90 "Paper drawer panel does not support RTL languages"
paper-drawer-panel does not support RTL languages.  When used in a page with:

`<html dir="RTL">...</html>`

the drawer still appears on the left side.  Adding an attached() callback like this seems to fix the problem:

[code]

I believe doing this would match the android drawer behaviour for RTL languages: https://developer.android.com/training/implementing-navigation/nav-drawer.html

(Instead of

[2015-08-17 07:07] Zippersk opened #91 "paper-menu-button is displaced by drawer's width"
I have paper-menu-button with paper-drawer, but sometime it behave weird. It seems to be displaced to the left for drawer's width, but only when the drawe is visible and you have scrolled.

![problem](https://cloud.githubusercontent.com/assets/6651236/9299585/c31d4d66-44bd-11e5-9f41-294d315391a4.gif)

[code]

[2015-08-21 00:43] blasten commented on #85
ping

[2015-08-21 00:51] blasten commented on #90
For RTL, you can also use:
`<paper-drawer-pane right-drawer></paper-drawer-panel>`
Thanks for the suggestion!

[2015-08-21 00:51] #90 closed, assigned to nobody

[2015-08-21 01:03] tigerhawkvok commented on #85
Whoops! Thanks for the ping.

I was writing up a reduced test case for you, and it seems to have been incidentally fixed between then and now.

[2015-08-21 01:03] #85 closed, assigned to nobody

[2015-08-21 21:28] blasten commented on #82
I am closing this. please reopen if you have an update.

[2015-08-21 21:28] #82 closed, assigned to nobody

[2015-08-21 23:01] blasten commented on #91
~~I couldn't replicate the issue.~~ http://jsbin.com/kolehu/edit?output  issue confirmed.

[2015-08-23 01:39] rogerta commented on #90
Hey Emmanuel, you completely missed the point :-)  I know that I can set the drawer to the right side myself, but the problem is exactly that: I need to set the drawer to the right side myself.  My suggestion is that paper-drawer-panel should be smart enough to do the right thing without my intervention.  For example, if I use the right-drawer or left-drawer attribute explicitly, it should do as s

[2015-08-24 03:18] blasten commented on #90
I know, the problem is that there could be cases in which you actually want two drawers (left & right). which means that we will have to flip the value for both drawer depending on the document's `dir` attribute. At this point, the user loses the ability to decide in which side the drawer should be in. We could have another attribute to capture this behavior. e.g. `<paper-drawer-panel document-dir

[2015-08-24 13:18] rogerta commented on #90
That makes sense. So if I don't explicitly set document-dir, does your proposal mean the drawer panel will follow the top level document direction?

[2015-08-24 18:01] #91 closed, assigned to nobody

[2015-08-31 04:15] ArthurJahn opened #92 "Error raised in _onTap function for removed elements actioned by tap events"
When removing a child element from a drawer, the following error raised:
<code>
        Uncaught TypeError: targetElement.hasAttribute is not a function
</code>

just added one more condition to if clause in line 502 so it doesn't happened anymore.

[code]

 It's a minor issue, maybe caused by a bubbling event after element has been removed, but you should look into this.

[2015-09-07 01:53] JosefJezek opened #93 "Default responsiveWidth"
Could you change default responsiveWidth to 600px Breakpoint?

http://www.google.com/design/spec/layout/adaptive-ui.html#adaptive-ui-breakpoints

[2015-09-24 02:35] blasten commented on #93
+1

[2015-09-24 21:50] #93 closed, assigned to blasten

[2015-09-24 21:52] blasten commented on #92
hmm. so what is `targetElement` if it's not an element with `hasAttribute`?  Would you mind sending a code that reproduces this issue?

[2015-09-24 22:24] ArthurJahn commented on #92
when the element is dynamically removed from dom, the object received in this function is <code> window</code>, that does not provide a method hasAttribute.
I'll send you a code to reproduce this issue.

[2015-09-25 18:57] #38 closed, assigned to blasten

[2015-09-30 12:43] ddadon10 opened #99 "Why the transition on the paper-drawer-panel is on ease-in-out?"
Hi,

Just a question about the transition on the paper-drawer-panel :

When the **drawer** is hide (e.g : on mobile) you can swipe on the edge for display the panel : OK

But the CSS transition has a little "glitch" i think, because you can see a little "lag" when you slide from the edge (specifically when you detach your finger from the screen before the panel is fully extended)

**I've seen that

[2015-09-30 18:38] johnheroy opened #100 "_computeMediaQuery never called on Firefox"
I have a `<paper-drawer-panel>` with a right drawer which works on Chrome (in shady DOM) but not in Firefox or iOS Safari. I found that the _computeMediaQuery method never gets called so the 'query' prop on <iron-media-query> is undefined and thus the parent `<paper-drawer-panel>` never gets a .narrow-layout class which triggers [this style](https://github.com/PolymerElements/paper-drawer-panel/bl

[2015-09-30 19:14] johnheroy commented on #100
forceNarrowChanged also never called, wonder if it has anything to do with https://github.com/PolymerElements/paper-drawer-panel/issues/26?

[2015-10-01 18:28] frankiefu commented on #100
I can't reproduce that problem you mentioned.  For example, this [jsbin](http://jsbin.com/nohajefada/edit?html,output) works on Firefox and Safari.

[2015-10-01 18:52] johnheroy commented on #100
I am having trouble producing a simple example which I can share here and repros the problem, I created this [jsbin](http://jsbin.com/videdomike/edit?html,output) which shows what we are doing (create paper-drawer-panel inside div and then attach div to the DOM). Btw I am using vulcanize and the lite version of the polyfill and compiling the components + deps with the closure compiler.

[2015-10-07 07:18] renfeng commented on #43
Bumped into the same problem. And, here is the doc
https://www.polymer-project.org/1.0/docs/migration.html#property-name-to-attribute-name-mapping

[2015-10-12 16:50] fozziethebeat opened #101 "Drawer Panel appears on wrong side when using RTL document direction"
When using the paper-drawer-panel in a top level body tag with dir="rtl", the drawer panel appears on the same side as when dir="ltr".  We'd expect the panel to switch sides.

[2015-10-20 23:30] liebrand opened #103 "open-, close- and togglePanel should *always* work"
Currently the open-, close- and togglePanel functions only work on mobile (eg narrow mode). I want to be able to open/close the drawer on desktop as well. In other words, I want to have my drawer behave the way that Google's Inbox drawer works as well.

The drawer should still default to closed on mobile (and the main page should still dim when the drawer is opened on mobile), but the decision to

[2015-10-21 00:22] frankiefu commented on #103
As a workaround you could do something like this in `paper-drawer-panel`.

http://jsbin.com/lunixiholu/edit?html,output

[2015-10-21 01:34] liebrand commented on #103
Ah, I have a workaround using forceNarrow, but didn't hook up it up a media query (so my workaround doesn't work on mobile).  Thanks for the suggestion!

[2015-10-21 12:29] addyosmani opened #104 "Making the left paperDrawerPanel reacting to responsive width"
_From @gedw99 on October 12, 2015 11:7_

We are trying to make the drawer respond a bit differently from what it does in the demo

[code]

at the moment the only event i can tap into is:
addEventListener('paper-responsive-change', function(e)
This is after the event, but i really need to get access to the before event

I am wondering if someone can recommend an approach.

_Copied from original iss

[2015-10-26 18:52] #76 closed, assigned to blasten

[2015-10-26 19:20] blasten commented on #99
Feel free to send a PR and make this a custom property. e.g.  `--paper-drawer-panel-timing-function`. The default could be `ease-out`

[2015-10-26 19:26] blasten commented on #100
It could potentially be a timing issue in webcomponent.js. I have seem similar issues in the past; however, to effectively determinate the causes and its implication, I need to debug the code. Feel free to ping me in GH.

[2015-10-26 19:26] #100 closed, assigned to nobody

[2015-10-29 10:25] abdonrd opened #107 "Could you make a new release?"
There are already many new changes. Personally, I need in a project. :sweat_smile:

Could you make a new release? Thanks!

[2015-10-29 10:25] abdonrd opened #108 "."
Sorry, It was created twice.

[2015-10-29 10:26] abdonrd commented on #108
Sorry, It was created twice.

[2015-10-29 10:26] #108 closed, assigned to nobody

[2015-10-29 17:40] abdonrd commented on #107
Thanks for the release!

[2015-10-29 17:40] #107 closed, assigned to nobody

[2015-10-30 16:53] eibens commented on #108
Maybe change the title to "Could you make a new release? [Duplicate]" or something like that. I clicked this issue because I didn't know what it was from the title.

[2015-10-31 02:24] ghost commented on #103
I'm with liebrand about this. I need the close and open functions to work when im on a desktop layout and not respond only to the narrow mode.
In my app i've got some sections to show my works(i'm an illustrator), and it's convenient to use all the screen possibles in this sections and close the drawer.
Also i suggest that the drawerToggleAttribute need to be optional if you wanted to hide.

[2015-11-10 10:06] abdonrd opened #111 "Remove old branches"
I think that we can remove the old [branches](https://github.com/PolymerElements/paper-drawer-panel/branches):
- `custom-scrim` (already merged)
- `custom-toggle-attribute`
- `hamster` (already merged)

[2015-11-12 20:44] #111 closed, assigned to nobody

[2015-11-17 15:39] timove opened #112 "drawer broken on mobile safari"
The drawer panel of the `paper-drawer-panel` element cannot be swiped open if the swipe starts over content from the light dom. Swipes from shadow/shady dom content work as expected.
## Expected outcome

Swiping with a finger from the left border to the right opens the drawer panel regardless of the origin of the content (light vs. shadow/shady dom).
## Actual outcome

The drawer panel opens only

[2015-11-19 18:52] kritollm opened #113 "paper-drawer-toggle not working on paper-icon-button in paper-toolbar"
Polymer.dom(event).localTarget gives the reference to the paper-drawer-panel. Not the clicked button, and even if it did it wouldn't work because the event.target is the iron-icon inside the paper-icon-button

[code]

didn't work so I had to change _onTap to this:

[code]

To reproduce the problem, add this line:

[code]

under this line:

[code]

In the input-header.html in this demo https://gith

[2015-11-19 23:10] kritollm commented on #113
Perhaps the paper-drawer-panel component could search for the button that has drawerToggleAttribute once and then store the attribute on the target. Then you could compose custom buttons and it would still work.

[2015-11-21 18:33] kritollm commented on #113
By clipping out the <paper-toolbar> element from the <chat-thread-view > element and paste it in the main app element it worked.

So it looks like it will be a lot of problems when composing new elements because they work different based on where they are placed, although in theory, at the same place in the doom-tree.

I think Polymer is great, but it's not a "it just work" library :)

[2015-11-21 18:33] #113 closed, assigned to nobody

[2015-11-22 23:25] ebidel opened #115 "a11y: trap keyboard when in narrow mode and drawer is open"
Currently, you can tab into the underlying content below the backdrop when the drawer is open.
Is it possible to prevent that by applying a combination of `tabindex="-1"` and/or `aria-hidden="true"` on the backdrop content when the drawer opens?

I noticed http://demo.agektmr.com/dialog/ implements this. Using a screen reader with the show modal dialog example does not read the content beneath and

[2015-11-23 06:24] blasten commented on #115
It seems like there are at least two techniques used to solve this problem.
1. Use a global focus manager, which is the case of this dialog example.

2. A focus trap. e.g.

[code]

This technique is very limited in terms of what `tabindex` values are allowed, but better for composition than a global manager.

I can look into this issue, and see which one offers the best tradeoff.

[2015-11-30 21:36] tigerhawkvok opened #117 "Class "narrow-layout" not always being applied to iron-selector.paper-drawer-panel on mobile Safari"
**NOTE**: Test on real device, not on simulator

I've found the same page, from refresh to refresh, to be horribly inconsistent on Safari. This includes hooking it up to the computer with the web inspector and doing multiple reloads emptying cache.

More often than not, however, `paper-drawer-pane.paper-drawer-panel-0 iron-selector.paper-drawer-panel` doesn't gain the class `narrow-layout`, result

[2015-12-12 07:54] rajat1saxena commented on #76
@sandro-k your solution saved my day. Thanks

[2015-12-16 13:50] andrewebdev commented on #27
I found this happens to my paper-header-panel when inside a drawer-panel as main content, same as what @pshihn mentions above.

[2015-12-23 16:46] WoodyWoodsta commented on #99
Would the user not want to specify the transition duration as well (as I would like to :smile: ). I would submit a PR but there is one already. But here is a suggestion with a `--paper-drawer-panel-transition-duration` custom property included (related to https://github.com/PolymerElements/paper-drawer-panel/pull/110#issuecomment-166938234):

[code]

[2015-12-23 20:08] radupopa2010 commented on #76
@sandro-k  works for me to !!!!!

Question: how did you figure it out how to solve this problem?

 I appreciate the solution, but please share some wisdom with us :)

[2015-12-23 20:29] sandro-k commented on #76
@radupopa2010 Polymer is not a black box.. You always can and should look at the source code! The drawer is absolute positioned and therefore it is irrelevant which drawer comes first.

[2015-12-24 02:55] blasten commented on #76
btw, app-layout also supports two drawers https://github.com/PolymerLabs/app-layout/tree/master/app-drawer

[2015-12-24 02:56] #71 closed, assigned to blasten

[2015-12-24 03:35] blasten commented on #112
this issue is confirmed. @azakus would you mind taking a look at this as well?

[2015-12-28 20:29] radupopa2010 commented on #76
@sandro-k  I'm a junior developer with just a couple of months experience and would like to understand how Polymer works.
I have looked through the docs and still can't figure it out  how you  you knew to add this custom attribute: _drawer-toggle-attribute="paper-drawer-right"_

[2015-12-29 12:26] sandro-k commented on #76
@radupopa2010 Polymer needs a way to determine which drawer should be triggered when a on-click/on-tap event is fired. It is a common pattern to store IDs or identifier in HTML-(data) attributes to express the relationship between elements. I figured it out by reading the code -> https://github.com/PolymerElements/paper-drawer-panel/blob/master/paper-drawer-panel.html#L490 and https://github.com/P

[2015-12-29 18:13] radupopa2010 commented on #76
Thank you very much Sanndro. This was really helpful.

Best Regards,

## Radu Gabriel Popa

## E-mail: radupopa2010@yahoo.comMobile: (+1) 619 9404 8022

[code]

 To: PolymerElements/paper-drawer-panel paper-drawer-panel@noreply.github.com
Cc: radupopa2010 radupopa2010@yahoo.com
 Sent: Tuesday, December 29, 2015 4:26 AM
 Subject: Re: [paper-drawer-panel] Support two side drawers. (#76)

@radupopa20

[2015-12-31 13:49] JosefJezek commented on #103
I would like close the drawer on desktop. :+1:

Nice solution have Google Plus, check out the https://plus.google.com

[2016-01-03 18:51] Zecat commented on #103
Take a look at my [master branch](https://github.com/Zecat/paper-drawer-panel), I made some modifications about toggle feature on desktop, tell me what you think. [Demo is here](http://zecat.github.io/paper-drawer-panel/components/paper-drawer-panel/). To summarize :
- drawerWidth attribute replaced with var --paper-drawer-panel-drawer-container-width
- remove the needs of _computeMainStyle() & _c

[2016-01-04 08:43] Zecat opened #120 "mini variant missing feature"
From [spec](https://www.google.com/design/spec/patterns/navigation-drawer.html#navigation-drawer-behavior)

<img src="https://material-design.storage.googleapis.com/publish/material_v_4/material_ext_publish/0Bx4BSt6jniD7ZVZzVEhrbF9YWk0/patterns_navdrawer_behavior_persistent4.png" width="200"><img src="https://material-design.storage.googleapis.com/publish/material_v_4/material_ext_publish/0Bx4BSt6

[2016-01-05 09:28] Zecat opened #121 "permanent, persistent and temporary modes"
From the [spec](https://www.google.com/design/spec/patterns/navigation-drawer.html#navigation-drawer-behavior), the drawer can be
- permanent

- persistent #103

- temporary

So I propose some changes on attributes :
- replace "responsiveWidth" by "tabletWidth" and "mobileWidth"
- replace "narrow" by "mobile", "tablet" and "desktop"
- remove "forceNarrow"
- add "tabletMode" and "desktopMode" ( = "

[2016-01-05 12:31] valdrinkoshi opened #122 "modal paper-dialog wrongly shown when inside a drawer"
_From @kungufli on October 7, 2015 13:39_

If you have a modal `paper-dialog` inside the `drawer` of a `paper-drawer-panel`, when the `drawer` is in `narrow` state the `dialog` is shown under the overlay:

![dialog2](https://cloud.githubusercontent.com/assets/12832388/10338851/98d8acf8-6d08-11e5-84fd-0e49e2f6a52f.gif)

The overlay is correct if the drawer is not narrow:
![dialog](https://cloud.git

[2016-01-05 12:31] valdrinkoshi commented on #122
_From @jesusabarca on October 9, 2015 0:58_

I'm having the same issue. I tried placing the `<paper-dialog modal></paper-dialog>` element in different places, but I'm having the same behavior. On a desktop is not a big deal, but in a mobile device, it gets lost on the edges of the screen.

[2016-01-05 12:31] valdrinkoshi commented on #122
_From @kungufli on October 19, 2015 10:20_

An interesting detail: this bug is present in latest versions of Chrome (46.0.2490.71) and Firefox (41.0.2), but the dialog works normally in Microsoft Edge and IE (tested on 11 and 10).

[2016-01-05 12:31] valdrinkoshi commented on #122
_From @ronnyroeller on October 21, 2015 12:29_

+1

[2016-01-05 12:31] valdrinkoshi commented on #122
_From @jpodwys on December 9, 2015 17:16_

+1

[2016-01-05 12:31] valdrinkoshi commented on #122
_From @jshcrowthe on December 15, 2015 0:29_

Any updates on this?

[2016-01-05 12:31] valdrinkoshi commented on #122
This is not caused by the `paper-dialog`, but by the way overlays are handled in `iron-overlay-behavior`; the backdrop is always added to `body` and it's shared between overlays. The fact that you insert the dialog in another branch of the DOM tree causes issues with the `z-index` system.
There is a [proposal PR](https://github.com/PolymerElements/iron-overlay-behavior/issues/72) that fixes this,

[2016-01-05 12:31] valdrinkoshi commented on #122
After further debugging, i discovered that the css property [`will-change: transform`](https://github.com/PolymerElements/paper-drawer-panel/blob/master/paper-drawer-panel.html#L217) is causing the issue. Will move it to the right repo

[2016-01-05 12:37] valdrinkoshi commented on #122
@blasten FYI, here a jsbin http://jsbin.com/besiwo/edit?html,output

[2016-01-05 17:54] blasten commented on #122
@valdrinkoshi In my opinion, the issue is that we need a system that takes into consideration how stacking contexts are created. There's a list of CSS properties that are very handy for a lot of use cases yet they create a stacking context. I think removing `will-change` or the `translateZ` hack would decrease the performance of the animation when the drawer opens and it won't fix the issue for al

[2016-01-05 18:12] blasten commented on #121
hmm. I would recommend taking a look at app-layout, so you can see where we are going to. https://github.com/PolymerLabs/app-layout

We'd keep this into consideration for the API design of `app-drawer-layout`, but I believe the code to explicitly support these modes should belong to the application rather than the element itself. In that way, the API of the element remains granular and it can supp

[2016-01-05 18:12] #121 closed, assigned to nobody

[2016-01-05 18:17] blasten commented on #120
+1 for sure. I moved the issue to https://github.com/PolymerLabs/app-layout/issues/39

[2016-01-05 18:17] #120 closed, assigned to nobody

[2016-01-05 18:20] blasten commented on #117
Is there a code in particular that reproduces this issue?

[2016-01-05 18:25] blasten commented on #92
cc @azakus. Is it possible for `Polymer.dom(event).localTarget` to return `window` in the case described above?

[2016-01-05 19:49] valdrinkoshi commented on #122
@blasten since this is a problem with overlays, maybe is worth further exploring a solution like this https://github.com/PolymerElements/paper-dialog-behavior/pull/56
which will reset all these properties that affect the stacking context while the overlay is opened.

[2016-01-15 16:32] valdrinkoshi commented on #122
Closing this one, as is an issue related with `iron-overlay-behavior` and stacking context.

[2016-01-15 16:32] #122 closed, assigned to blasten

[2016-01-18 01:41] marconi1992 opened #125 "URL toolbar of chrome movil not scrolling away"
This issue that mentioned Rob in this video https://youtu.be/g7f1Az5fxgU?t=5m33s also is presented in the main container from the paper-drawer-layout

[2016-01-18 11:01] morganwu opened #126 "Force toggle drawer in pc mode"
I want the drawer can be closed by hand even in pc mode, just like the behavior of the side bar in user home page of new version Google Plus. I tried to force the drawer panel to be narrow, so I can toggle the drawer by calling togglePanel()  when I clicked  the menu icon, but the only issue is I want the drawer keep open before I click the menu button again, but the drawer will be closed anyway w

[2016-01-18 13:24] WoodyWoodsta commented on #126
By PC mode, do you mean when the screen is greater than the responsive width?

You might want to look into instead of using the `toggleDrawer()` method, write another method that adds and removes the `force-narrow` attribute on the press of the toggle button.

The solution is not the most elegant one, but it saves you hacking into the element.

[2016-01-19 01:43] morganwu commented on #126
@WoodyWoodsta thank you for your answer and yes that is what I mean. I tried your answer, it works indeed.

[2016-01-19 01:43] #126 closed, assigned to nobody

[2016-01-20 11:36] jermainkaminski opened #127 "Disabling transitions for paper-drawer-panel"
Dear Polymer friends,

while developing a Polymer-based Jekyll template, I realized that run into issues deactivating the default body transition for <div id="main">, nested in <paper-drawer-panel>.

The default CSS is

[code]

Unfortunately, a custom/shared stylesheet with

[code]

(and similar approaches) doesn't solve it. Any idea?

[2016-01-28 20:38] blasten commented on #92
friendly ping @azakus

[2016-01-28 20:42] blasten commented on #99
Feel free to send a PR for this issue. This one was closed: https://github.com/PolymerElements/paper-drawer-panel/pull/110

[2016-01-28 20:50] blasten commented on #112
friendly ping @azakus. Something going on with event paths.

[2016-01-28 20:52] blasten commented on #125
please take a look at https://github.com/PolymerLabs/app-layout. We fix that issue in app-layout.

[2016-01-28 20:52] #125 closed, assigned to nobody

[2016-02-02 12:03] danieleds opened #128 "Drawer breaks with Firefox + Angular 2 routes"
Take a basic Angular 2 app, and Firefox.
If the drawer is shown as the result of a route navigation, it breaks. I the page is loaded directly at that url, it works.

Live example: http://plnkr.co/edit/VlzUhHwbAcIAaBLjTyKP?p=preview
Try it in Firefox and Chrome.

**Chrome 48:**
![](http://s12.postimg.org/p3zstkj3x/Schermata_del_2016_02_02_12_56_45.png)

**Firefox 44:**
![](http://s12.postimg.org/62

[2016-02-04 07:19] slightlyoff opened #129 "Incorrect velocity when flinging drawer closed"
If you manually fling the drawer closed, the velocity isn't taken from the finger, it reverts to the default speed, causing an apparent "bump" or "slow down" in closing when flinging the drawer. This is a poor, inconsistent experience with native drawers.

Also, are these animations using the correct default curves for Android? ISTM they might not be (experientially).

/cc @ebidel

[2016-02-04 07:24] WoodyWoodsta commented on #129
See [here](https://github.com/PolymerElements/paper-drawer-panel/issues/99). This can be fixed by using `ease-out` which is only possible when they expose the mixins for the transitions.

I stand to be corrected, but catching the user's finger velocity and then using that to animate the panel is too clunky for what it is worth, at least in a browser.

[2016-02-04 17:51] blasten commented on #129
@slightlyoff we have thought about fixing this. I think it's worth experimenting with it, at least in the new app layout system: https://github.com/PolymerLabs/app-layout

To achieve this behavior property, the easing function and transition-time might need to be dynamically computed based on the velocity vector.
cc @keanulee @frankiefu

[2016-02-04 19:49] frankiefu commented on #129
@keanulee is working on getting this fixed in app-layout (https://github.com/PolymerLabs/app-layout/issues/51)

[2016-02-08 11:23] slightlyoff commented on #129
Glad to see it's getting fixed. Will it also be repaired in `<paper-drawer-panel>`?

[2016-02-08 16:26] ebidel commented on #129
+1 on fixing it here too. The majority of users will be using this element
for the near future.

On Mon, Feb 8, 2016, 3:23 AM Alex Russell notifications@github.com wrote:

[2016-02-08 18:11] keanulee commented on #129
I'm currently working on having the drawer slide at a constant velocity when you "flick" the drawer open or closed (i.e. when swiping above a certain velocity threshold). Not sure if this matches the Android curves though - if someone could link to them that would be appreciated :)

Once this is in app-layout, we will consider adding it to `paper-drawer-panel` as well. (e.g. Is it possible to add

[2016-02-10 18:31] danieleds commented on #128
Same thing happens with Angular 2.0 beta 3: http://plnkr.co/edit/8FtzjikSZyyEB2OO8L1j?p=preview

[2016-02-12 15:15] danieleds commented on #128
**Workaround:**
Instead of importing `webcomponents-lite.min.js`, import `webcomponents.min.js`. Then, just below that import, set `window.Polymer.dom = 'shadow'`. Example:

[code]

This will enable the full shadow DOM.

Might be related to this: https://github.com/angular/angular/issues/5531 so I'm closing.

[2016-02-12 15:15] #128 closed, assigned to nobody

[2016-02-17 01:17] danbeam commented on #101
this affects Chrome's settings UI /cc @tjsavage @blasten @frankiefu

[2016-02-17 04:55] ebidel commented on #129
@keanulee @blasten @frankiefu we're using this element for the I/O site. is it possible to add the velocity changes here?

[2016-02-17 05:14] blasten commented on #129
@ebidel yup. we will!

[2016-02-17 05:52] frankiefu commented on #129
@ebidel, yeah we were just talking about this earlier today.  @keanulee mentioned it should be pretty straight forward to port the change over.  I'd suggest to also consider using [app-layout](https://github.com/PolymerLabs/app-layout).  The `app-layout` defaults to use document scroll and should provide a better mobile user experience.

[2016-02-17 15:26] ebidel commented on #129
Do we think it's ready for production site? Don't want to bleed too hard on
the edge this year :)

On Tue, Feb 16, 2016, 9:52 PM Frankie Fu notifications@github.com wrote:

[2016-02-17 18:31] frankiefu commented on #129
There are already a few production sites that I know which are using app-layout elements: [Chrome Dev Summit](https://developer.chrome.com/devsummit), [Polymer Polytechnic](https://itshackademic.com/), and of course [Polymer Summit](https://www.polymer-project.org/summit).  `paper-drawer-panel` and its counterparts have been out for a while so they are probably a bit more stable.  But `app-layout`

[2016-02-17 19:07] ebidel commented on #129
Yea exactly :) We have a few places now that hook into the element's scroller. That would need changing. I can investigate moving over to app-layout if there's time.

[2016-02-19 14:00] matfin commented on #44
Hi,

Just started going through the documentation for this component it appears a lot of the content is still incorrect. The URL is as follows:

https://elements.polymer-project.org/elements/paper-drawer-panel#property-drawerWidth

For example, I tried the following

[code]

Documentation definitely needs to be updated.

Thanks,

Matt

[2016-02-20 13:57] mbecker commented on #104
Hi,

please try the following:
- Add id="drawer" to your drawer

[code]
- Add the following meadia query to main.css

[code]

(Please notice that I'm using here "right-drawer; changing "right: 0px!important" to "left: 0px!important" should do the trick).

Does it work?

[2016-03-02 08:07] dominikIncibit commented on #129
I just saw that the app-drawer element got used in the new IO website.
@ebidel How much work is it to introduce the new app-layout elements in an old project? As you used it for the IO site I suppose its stable and worth the switch? And will the change still get applied on this element?

[2016-03-02 18:16] keanulee commented on #129
The app-layout elements are still versioned as experimental, meaning we still might change the API if we think it's worth it, but I feel it's mostly stable now (e.g. we might change the name of a public method, but the DOM structure is _probably_ not going to change). As far as migration, it's usually just as simple as rearranging the DOM structure.

[code]

to either:

[code]

or:

[code]

Note t

[2016-03-02 19:21] #115 closed, assigned to nobody

[2016-03-07 12:41] dominikIncibit commented on #129
Thanks for the advice!
I just did the transition and although it was a bit more work its definitely worth it!

[2016-03-07 20:01] TomasAgoston opened #134 "AutoFocus results into infinite loop of refocusing"
With the new version 1.0.7 we get a infinite loop of refocusing on the drawer panel.

We have a drawer panel in our app (actually there are two nested drawer panels) and in that panel we have menu with submenus (multilevel hierarchical menu). On opening and closing of submenus we are modifing the selection in those menus.

With version 1.0.6 of the paper-drawer-panel everything is working OK.

Upg

[2016-03-11 08:44] marxtseng opened #136 "paper-drawer-panel.html:823 Uncaught RangeError: Maximum call stack size exceeded."
[https://github.com/MarxTseng/paper-drawer-panel-maximum-call-stack](url)

When I use the "paper-drawer-panel", at the same time open two "drawer panel", if the "drawer panel" contains "dom-repeat" or "paper-input", can cause this problem.

[2016-03-11 21:01] frankiefu commented on #136
Here is a jsbin that reproduces the issue: http://jsbin.com/robahobuye/edit?html,output

[2016-03-12 00:12] frankiefu commented on #134
Can you post a jsbin that can reproduce the issue?

[2016-03-12 00:37] blasten commented on #136
@MarxTseng can you test `bower i PolymerElements/paper-drawer-panel#focus-patch`

[2016-03-12 00:40] blasten commented on #134
@TomasAgoston

Can you run `bower i PolymerElements/paper-drawer-panel#focus-patch` to see if that fixes the issue?

The main issue here seems to be related to async focus retargeting: https://github.com/PolymerElements/iron-menu-behavior/blob/master/iron-menu-behavior.html#L265-L266

[2016-03-15 18:21] blasten commented on #136
@MarxTseng Did it fix the issue in your code?

[2016-03-16 01:26] marxtseng commented on #136
@blasten Thanks very much, the issue is fix in my code.

[2016-03-16 01:30] blasten commented on #136
sweet

[2016-03-16 01:30] #136 closed, assigned to blasten

[2016-03-16 01:31] #134 closed, assigned to blasten

[2016-03-16 12:14] TomasAgoston commented on #134
Sorry for the late response.

The current version 1.0.9 works fine. Thanks for the fix.

[2016-03-17 03:34] joryphillips opened #138 "Default responsiveWidth should be wider"
Problem: If the window is 601px wide, the drawer defaults to nearly half the width of the screen. This is not great functionally or visually.

Solution: change default responsive width for hiding the drawer to 840px, instead of 600px. Then the drawer is less than a third of the screen, which is a lot more comfortable. 768px would work too, but I like 840 because it's already a standard width in th

[2016-03-21 17:19] blasten commented on #138
That would be a breaking change and I'm sure most people are relying on the default `600px`. I'd advise changing the `responsiveWidth`  manually.

[2016-03-22 16:55] samccone commented on #138
Hmm, just because it is breaking does not mean it is not a valid concern eh?

Question: if we were to make this change and then bump our semver a major point, we would be A-OK right?

So long as we noted the change in the changelog we should be all covered.

[2016-03-22 17:51] blasten commented on #138
@samccone that is true. I'm inclined to think that the default value could be adjusted to `768px`. PR welcome :)

[2016-03-22 21:40] #138 closed, assigned to nobody

[2016-03-31 08:19] ronnyroeller commented on #73
This issue is back. One closes the drawer accidentally when scrolling vertically through a drawer  because horizontal scrolling isn't locked any longer.

I reproduced the issue with Safari and Chrome on iOS 9.3 (13E233).

Test case: https://output.jsbin.com/hopikoxeqa

[2016-03-31 08:25] ronnyroeller opened #140 "Too easy to accidentally close the drawer when scrolling on mobile (regression of #73)"
### Description

Issue https://github.com/PolymerElements/paper-drawer-panel/issues/73 occurs again:

### Expected outcome

Horizontal scrolling should be locked when scrolling vertically through the drawer.
### Actual outcome

One closes the drawer accidentally when scrolling vertically through a drawer because horizontal scrolling isn't locked any longer.
### Live Demo

Example: https://output.j

[2016-04-13 15:29] alexdeefuse opened #141 "Toggle _onTap should stop event propagation."
Hi,

I've been trying to use the paper-drawer-panel inside another paper-drawer-panel.
Everything works well except the toggle tap functionality. When the inner paper-drawer-panel toggle is tapped, both drawer panels react to that event.

What needs to be done is:

[code]

[2016-04-19 02:21] blasten commented on #141
probably just `stopPropagation()`. Feel free to send a PR with the unit test. Thanks!

[2016-05-22 20:00] OtherOfIce opened #142 "Right drawer - graphical bug"
### Description

Have an `<a href="">` inside a right hand drawer, then change the visibility to visible. When trying to open the drawer (using a paper icon) on mobile a graphical bug occurs (about 1/2 the time).

[code]

EDIT: http://output.jsbin.com/tojobevopo Look at this using the chrome dev tools mobile view or on a phone.

[2016-06-04 23:06] mlisook commented on #122
As a comprehensive fix will likely take some time, and the recommended work around of moving the paper-dialog outside the paper-drawer-panel can be tricky, I thought I'd offer an alternative workaround.

A _non modal_ paper-dialog still works fine inside the paper-drawer-panel, even in another custom element inside the drawer. And of course, one could reasonably manage attempts to dismiss outside

[2016-06-13 17:19] frankiefu commented on #140
This is because `setScrollDirection` in Polymer is not working: https://github.com/Polymer/polymer/issues/3667

[2016-07-13 00:53] shahraship commented on #27
this issue still exists?

[2016-07-14 06:56] robs15 opened #144 "Does paper-drawer-panel not work with Polymer 0.5.1 ?"
### Description

Paper drawer panel is added into DOM when inspected in browser, but is not displaying. Polymer version being used is 0.5.1. Panel is being added in another polymer element. While trying to access the openDrawer() method, it says, method is undefined.
### Expected outcome

Panel should work as seen in examples on polymer site.

### Actual outcome

Panel is seen in DOM but not visib

[2016-07-14 21:57] notwaldorf commented on #144
Unfortunately not; this element (and all elements in the `PolymerElements` org only work with Polymer 1.0 (also an [explicit](https://github.com/PolymerElements/paper-drawer-panel/blob/master/bower.json#L25) dependency in bower)

[2016-07-14 21:57] #144 closed, assigned to nobody

[2016-07-15 15:14] robs15 commented on #144
Thanks @notwaldorf !

[2016-07-21 00:13] tjsavage opened #145 "Drawer doesn't restrict focus when open"
Safari on Mac OS X and FireFox on Windows X

Pre-requisites:
Enable VoiceOver on Safari (COMMAND F5) or lanunch NVDA on Windows
1. Go to
   https://elements.polymer-project.org/bower_components/paper-drawer-panel/demo/index.html
2. With the TAB key, move to the "toggle drawer" button and press ENTER.
3. Press TAB to move through items in the drawer.

Observed behavior:
Please note, when you reach

[2016-08-04 19:49] tanin47 opened #146 "This example in README.md is wrong"
In README.md, it provides  the example:

[code]

It doesn't work properly (e.g. the icon doesn't show up, I cannot close the drawer). I think the correct version is this:

[code]

Thanks

[2016-08-10 09:01] minhlong139 opened #149 "Disable flying drawer animation when rightDrawer is changed"
I have both right and left drawer on a page so properties rightDrawer change on-the-fly.

When rightDrawer changed, the drawer fly from left to right made confusing for user so I want to disabled this animation, how can I do that?

![nimbus-record-video](https://cloud.githubusercontent.com/assets/171335/17547911/8e4a1076-5f13-11e6-8b43-c65ff06de20e.gif)

[2016-08-14 07:28] yorrd opened #150 "Closing way too quickly when swiping to the side"
### Description

When the drawer is scrollable in the y-axis because there is too much content, even the slightest move in the x-direction when scrolling is going to close the drawer.
### Expected outcome

Be a little more forgiving, only close the drawer when

1) we're not scrolling in y-direction at the same time
2) give devs the ability to change the threshold at which the close event is trigge

[2016-08-16 03:54] minhlong139 commented on #149
+1

[2016-08-16 17:50] lingtalfi commented on #27
kind of same here.
Beginner trying to apply this example:

https://elements.polymer-project.org/guides/responsive-material-design-layouts#creating-a-header   > Modifying header display and behavior

Using "polymer serve" as the server, the examples before work great.
But changing the value of the mode attribute of the paper-header-panel (as stated in the doc)
doesn't do much (sometimes it removes

[2016-08-16 18:00] blasten commented on #27
Can you try replacing "Content" for the paragraphs `<p>`?

[2016-08-16 18:04] lingtalfi commented on #27
oh, now it works. Thanks.
I wish the docs provided full examples that we can just copy-paste-check (I mean the whole code at once rather than just chunks).

[2016-08-16 18:07] blasten commented on #146
The drawer will close if the viewport width is smaller than the `responsiveWidth` which is `768px` or if you have the `force-narrow` attribute on the paper-drawer-panel.

[2016-08-16 18:07] #146 closed, assigned to nobody

[2016-08-16 18:12] blasten commented on #149
That's a good point. Feel free to send a PR to fix that issue.

[2016-08-16 19:11] blasten commented on #145
We already have that behavior in app-drawer (app-layout) https://elements.polymer-project.org/bower_components/app-layout/demo/demo6.html. (toggle device mode). I'd recommend to use app-layout.

[2016-08-16 19:11] #145 closed, assigned to blasten

[2016-08-16 19:30] blasten commented on #142
Here's how to workaround it http://jsbin.com/lagowa/edit?html,output.  The issue is caused by calling `focus` on an element too early on the transition of the drawer, basically when that element is off screen. On mobile, Chrome seems to bring that element into view which causes that bizarre effect.
You can also use app-layout which doesn't have this issue because focus is called at the end of the

[2016-08-16 19:34] blasten commented on #150
That is certainly an issue. This issue is less noticeable in app-drawer because the user needs to pass a threshold for the drawer to close. e.g. https://elements.polymer-project.org/bower_components/app-layout/demo/demo6.html

[2016-08-19 10:33] bhinderbaljeet commented on #76
Thanks allot @sandro-k

[2016-08-31 14:10] mercmobily commented on #113
Sorry to ask you but... how did you fix the problem exactly...?

[2016-08-31 15:54] kritollm commented on #113
I think #60 may solve the problem.

[2016-09-15 09:47] bwh-rl opened #151 "The exact responsiveWidth - Narrow or not?"
Hi.

At the moment if the screen width is exact the responsiveWidth, the drawer panel will go narrow layout.
Now if you see this from the mobile-first point of view, which many are familiar with from other frameworks, the narrow layout is kinda the default, and the not narrow layout is the "special" one.

Also the default value is 768px, a popular device width.
Isn't this implying that a 768px dev

[2016-09-21 15:42] bwh-rl commented on #71
Why is this a wontfix? The issue is still (or again?) around:
https://jsbin.com/kociwujuca/1/edit?html,output

And the docu says clearly that this should work:

As far as i understand this occurs because the hide feature is hardcoded to the default value paper-drawer-toggle:

[code]

[2016-09-22 07:06] bwh-rl commented on #71
Is it just me or is this whole `paper-drawer-toggle` incl. the `drawerToggleAttribute` feature a bit non-standard?

[2016-09-29 06:44] bwh-rl opened #152 "Feature request - narrow & paper-narrow-change // responsive & paper-responsive-change"
### Description

In the current element you can only tell if the panel is narrow or not, depending on the `force-narrow` property this does not tell you reliable if the `responsive-with` is applied or not.
Also the naming of the `paper-responsive-change` event let you assume that it is always fired at responsive change, but it is also influenced by `force-narrow`, so it is more a `paper-narrow-cha

[2016-10-04 00:36] 5amfung commented on #140
Polymer team had a chance to look into this issue?

[2016-10-06 21:26] blasten commented on #151
I'd suggest looking at [app-layout](https://github.com/PolymerElements/app-layout) for the cases you are describing.

[2016-10-07 06:38] bwh-rl commented on #151
I thought the only difference between the app-layout and the paper-elements is that they are not material design?

I'm just saying that the exact responsive width should show the wide layout, not the narrow layout.
I can't see a connection here to material design?

[2016-10-10 17:09] blasten commented on #71
@bwh-rl There's an alternative. it's app-drawer-layout. [Check it out](https://github.com/PolymerElements/app-layout)

[2016-11-06 13:33] ccjmne opened #153 "Elements with a positive `z-index` in the `[main]` content appear above the overlay."
### Description
The `#scrim` overlay displayed in narrow layouts when the drawer is open does not properly cover the `[main]` element when some its content has a positive `z-index`.

### Expected outcome

The overlay covers entirely the `[main]` content even if it hosts elements brought further to the front using the `z-index` property.

### Actual outcome

The elements from the `[main]` content t

[2016-12-02 11:16] GnunuX commented on #92
Any news for this bug?

We can see this bug in polymer-element-catalog project.
For example, in this page:
https://elements.polymer-project.org/browse?tag=live&view=cards

When we click on a tag (for example "live") we has this error:
"TypeError: Argument 1 of Node.contains does not implement interface Node."

[2016-12-03 01:14] codekrolik opened #155 "Inadequate paper-drawer-panel documentation"
### Description
https://elements.polymer-project.org/elements/paper-drawer-panel

The documentation fails to properly explain the difference between narrow and normal mode, in particular the fact that toggle ONLY WORKS in narrow mode!
That makes it _incredibly_ hard to reverse engineer this complicated behavior (by studying a shitton of code).

Moreover, the documentation just plainly states:
"The

[2016-12-21 11:55] t-soares commented on #149
@blasten Can you close this?

[2016-12-21 16:16] blasten commented on #149
yup

[2016-12-21 16:16] #149 closed, assigned to nobody

[2016-12-27 18:35] rubenstolk opened #159 "Animation renders twice when swiping in safari"
### Description
When swiping the bar in our out, and then "letting it go", the animation restarts.

Issue only applies to `v1.0.11`

### Expected outcome

The animation to continue swiping in or out.

### Actual outcome

The animation restarts from the beginning.

### Live Demo

### Steps to reproduce

### Browsers Affected

- [ ] Chrome
- [ ] Firefox
- [x] Safari 9
- [ ] Safari 8
- [ ] Safari 7
-

[2016-12-28 11:55] t-soares commented on #159
The PR #158 introduced a regression on this component. The PR #158 changed the drawer opening and closing to be done inside a requestAnimationFrame. At the end of a swipe movement, the width is reset outside the rAF block, causing the opening/closing animation to be started from the initial position.

[2017-01-24 08:11] joaoDigitina opened #163 "Paper drawer gets cropped in mobile devices when in landscape mode"
### Description
Paper drawer gets cropped in mobile devices when in landscape mode

### Expected outcome

It should be able to scroll throught the drawer in portraoit mode
### Actual outcome

If the drawer has many elements it will become cropped if scroll  is enabled and if not it wont be possible to scroll.

### Steps to reproduce

1. Setup a basic paper drawer panel example with a drawer sideba

[2017-02-14 02:21] vitalygoji commented on #103
I tried to embed paper-drawer-pane in existing GWT application - no matter what I tried toggle is not working. I tried every method etc.. No JavaScript errors generated - just not working. How funny...
Most of other Polymer components are fine.

[2017-02-27 15:38] jaichandra opened #165 "localTarget and event-retargeting doesn't work when paper-drawer-panel is nested"
### Description

If `paper-drawer-panel` is wrapped inside another element and if we try to pass the elements through the <content> node, it doesn’t work.
This is happenning because the `localTarget` reference in the `_onTap` method of `paper-drawer-panel` changes when the element is wrapped inside another.
Is this a bug with the element or with event-retargeting itself.

### Expected outcome

`pa

[2017-02-27 16:30] jaichandra commented on #165
found the same issue reported here: https://github.com/Polymer/polymer/issues/2374
This is related as well: https://github.com/Polymer/polymer/issues/1921

[2017-02-27 18:21] jaichandra commented on #165
This is a bug with ShadyDOM. The above example works if I enable ShadowDOM
https://github.com/Polymer/polymer/issues/1921#issuecomment-282802436

[2017-02-27 18:34] jaichandra commented on #165
Issue to track: https://github.com/Polymer/polymer/issues/4341

[2017-03-10 07:18] frankiefu opened #167 "[2.0-preview] The first focusable item should be focused when the drawer is opened"
When the drawer is opened, it is supposed to auto focus the first focusable item inside the drawer.  But in 2.0-preview it doesn't.

### Expected outcome

The first button inside the drawer should be focused.

### Actual outcome

Nothing is focused when the drawer is opened.

### Steps to reproduce

1. Run the paper-drawer-panel demo.
2. Click the `OPEN DRAWER` button.

### Browsers Affected
- [x]

[2017-03-10 19:37] jaichandra commented on #149
This issue is still not fixed. See the transition in below plnkr, when the hamburger menu is clicked for the first time.
https://plnkr.co/edit/MvP1oBCIF0eAI4COi4kk?p=preview

[2017-03-10 20:15] t-soares commented on #149
@jaichandra It is fixed, but it is not included in the 1.7.0 lib that you are referring on your code. Change the link to https://cdn.rawgit.com/download/polymer-cdn/master/lib/

[2017-03-10 20:20] blasten commented on #167
Fixed in https://github.com/PolymerElements/paper-drawer-panel/commit/e467a01c77b22d527b804fe3df3878a73f9d5fc6

[2017-03-10 20:20] #167 closed, assigned to blasten

[2017-03-10 20:35] jaichandra commented on #149
@tas1982 awesome. Thanks. Is it available in 1.8.1? BTW.. do you mind sharing some details on how this is related to Polymer version? Is this Polymer 2.0 that fixes this issue?

[2017-04-10 17:27] jlramosr opened #170 "slot="drawer" with Polymer 2.0"
If you're using app-drawer with Polymer 2.0., it's necessary indicate the slot "drawer" to link app-drawer-layout element with lateral content. However, app-drawer-layout main content hasn't slot name.

[code]

[2017-04-18 20:33] spirylics opened #171 "Glitch when open/close drawer in dragging"
- Drawer is closed
- Open drawer in dragging

=> A glitch appears : drawer close then open quicky.

Official demo has this problem: https://www.webcomponents.org/element/PolymerElements/paper-drawer-panel/demo/demo/index.html
Tested with Chrome

[2017-04-18 20:34] Anthony2539 commented on #171
+1

[2017-04-18 21:20] frankiefu commented on #171
I'd suggest to take a look at [app-layout](https://www.webcomponents.org/element/PolymerElements/app-layout).  The `app-drawer` element in `app-layout` has momentum swiping and works well on all platforms.

Here is one of the demo: https://www.webcomponents.org/element/PolymerElements/app-layout/demo/app-drawer/demo/left-drawer.html

[2017-04-23 17:47] spirylics commented on #171
@frankiefu yep I am going to try, thanks !

[2017-06-06 16:58] scottromack commented on #76
Working on a nested demo.

[2017-06-06 17:06] sandro-k commented on #76
Nested should work the same way. You mean like two drawers on the same side right?

[2017-06-06 21:54] scottromack commented on #76
Two drawers on opposite sides. I have examples of that but it they both need to auto open on desktop and inner content needs to make room.

[2019-05-24 21:22] yyamoryk-google opened #185 "drawer-toggle-attribute is not working"
### Description
drawerToggleAttribute is not initialized in Polymer 2+. The default value of the property is not available and Polymer requires property to be declared in the properties collection of the component, so that it's value can be set as an attribute.

### Expected outcome

The drawer can be opened by tapping on the element with the attribute name same as drawerToggleAttribute's value

#

[2021-05-17 21:31] #99 closed, assigned to nobody